<p style="font-weight: bold;font-size:120%;color:#008000;">
  Welcome to EngageVia! </p>
<br/><br/>
Hi <%= @user.username %>, <br/>
<p>Your account has been activated.</p>
<br/><br/>
<p>You may now start engaging with your friends at:<br/>
 <%= link_to @url, @url %>  </p>
<br/><br/>
<p>Happy Conversing!  </p>

<p style="font-weight: bold;color:#008000;">EngageVia team</p>



