<div style="font-family:Georgia;margin: 10%;">
Hi there!<br/><br/>

Your post on <em><%= @post.subject %></em> has been saved.<br/>

Please visit this url to invite your friends and start the conversation:<br/>

   <%= link_to @post_url, @post_url %>  <br/><br/>
  
 

If the above URL does not work try copying and pasting it into your browser.<br/>
If you continue to have problem please feel free to contact us.<br/>


Happy Conversing,<br/>
-EngageVia Team<br/>

NOTE:<br/>

If you did not start this conversation, please ignore this email and <br/>
we sincerely apologize for the inconvenience.
</div>