
Hi there!<br/><br/>

<%= @inviter.display_name  %> is requesting you to join a conversation on <br/>
<em><%= @post.subject %></em><br/>

Please visit this link to engage in this conversation:<br/>

   <%= link_to @post_url, @post_url %>  <br/><br/>
 <p>
IMPORTANT NOTE: Please do not forward this mail or share this link provided to you <br/>
 as a way of inviting friends.<br/>

 To invite, please visit the link and invite from there.<br/>
 Each one of your invitees will then get their own unique link.<br/>

If the above link does not work try copying and pasting it into your browser.<br/>
If you continue to have problem please feel free to contact us.<br/>
</p>

Happy Engaging,<br/>
-EngageVia Team<br/>

NOTE:<br/>
<span style="font-size:85%;color:#333333;">
If you do not know <%= @post.owner.display_name  %>, please ignore this email and let us <a href="mailto:engagevia@gmail.com">know</a><br/>
We sincerely apologize for the inconvenience.
</span>