/*
    Original Design by     : http://www.intensivstation.ch/files/en_templates/temp07.html
*/
h2 {
    color: #0b84e8;
}
table.mceLayout{
    width: 900px;
}
#left {
position: absolute;
left: 0px;
color: #fff;
margin:5px 10px;
padding: 0px 7px;  /* top and bottom is 0 so empty div does not show up */
background-color: #0b84e8;
width:250px;
}


#right {
position: absolute;
right: 0px;
width:250px;
margin: 5px 10px;
color:#FFFFFF;
padding: 0px 7px;
top: 134px;
}
#participants{
    background-color:#0B84E8;
    margin-top:10px;
    padding:3px;
}
#sticky-note {
    background-color: #f6f650;
    color: #000000;    
    right: 0px;
    width:250px;
    
    padding: 0px 7px;
    width:245px;
    height: 260px;
    overflow:auto;
}
html,body {
  font-size: 100%;
  font-family:  'Lucida Grande', Sans-Serif;
  color:#2b1e24;
  padding:0px;
  margin:0px;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:#575455 none repeat scroll 0 0;
  /* background-image: url('/images/pattern_096.gif'); */
}
#wrapper{
    margin:20px auto 0;
    padding:0 20px 0 30px;
}
#content {
  margin: 5px 275px;
  padding: 10px;
  
  font-size: 75%;
  margin:0 auto;
  text-align:left;  
  color: #222222;
}

#gen-content {
  margin: 0 275px;
  padding: 10px;
  background-color: #BBDEFA;
  font-size: 75%;
  margin:0 auto;
  text-align:left;
  color: #222222;
  width:800px;
}
#shadow {
    width:1050px;
    margin: 0 auto;
    position: relative;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: #666666;
}
#bodyblock {
    width:1050px;
    position: relative;
    top: -3px;
    left: -3px;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    text-align: left;
    color: #666;
    background: #fff;
}
img {
border:medium none;
}
#flash-notice{
    padding: 5px;
    background-color: green;
    color: white;
    position:fixed;
    top: 0px;
    width:100%;
    z-index:100;
    opacity: 0.9;
    text-align:center;
}
#flash-error{
    padding: 5px;
    background-color: #f11601;
    color: white;
    width:100%;
    z-index:100;
    opacity: 0.9;
    position:fixed;
    top: 0px;
    text-align:center;
}
#header img {
    width: 260px;
}
a {
color:#4c9801;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
text-decoration:none;
}
#get_credentials a{
    color:#fff;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    text-decoration:none;
}

input {
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
margin-top:10px;
}
form {
margin:0;
padding:0;
}
#widgets {
background: #f95b08 url('/images/bg-widgets-o.png') repeat-x scroll 0 0;
overflow:hidden;
padding:10px 20px 7px 30px;
height:36px;
}
#header {
background: #575455 url('/images/bg-header.png') repeat-x scroll 0 0;
border-bottom:3px solid #0B84E8;
overflow:hidden;
padding:10px 20px 7px 30px;
height:58px;
}
* html #header {
height:1%;
overflow:visible;
}
.logo {
float:left;
margin:0;
}
.logo a {
/* background:transparent url(/images/garden/garden-logo.gif) no-repeat scroll 0 0; */
float:left;
height:53px;
overflow:hidden;
/* text-indent:-9999px; */
width:251px;
}
#header ul {
float:right;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:18px 0 0;
overflow:hidden;
padding:0;
}
#header ul li {
display:inline;
float:left;
margin-left:-2px;
padding:0 13px;
}
#header ul li a {
color:#0B84E8;
text-decoration:none;
}
#header ul li a.active, #header ul li a:hover {
color:#FFFFFF;
background-color:#0B84E8;
}
ul li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    overflow:hidden;
}

#widgets ul {
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:8px 0 0;
overflow:hidden;
padding:0;
}
#widgets ul li {
display:inline;
float:left;
margin-left:-2px;
padding:0 13px;
}
#widgets ul li a {
color:#fff;
text-decoration:none;
font-weight: bold;
}
#widgets ul li a.active, #header ul li a:hover {
color:#0B84E8;
background-color:#fff;
}
#home-content {
overflow:hidden;
width:100%;
font-size: 20px;
}

.features {
overflow:hidden;
padding:2px 0 0;
width:100%;
}
.feature {
overflow:auto;
padding:0 0 0 112px;
text-align:justify;
width:75%;
}

#parent-post {
clear: both;
background-color: #d1d7f6;
}
.owner-info{
float: left;
width: 18%;
height: 75px;
border: 2px solid #d7d7d7;
padding: 3px;
}
#post-body{  
background-color: #fff;
width: 80%;
float: right;
padding-bottom:10px;
}

#comments {
    clear: both;
    margin-top: 10%;
    border-top:1px solid #FFFFFF;
}
.comment-body {
    margin-top:5px;
    text-align:justify;
    padding: 5px;
    clear: both;
    float: right;
}

.new-comment {
    background-color: #ffffff;
    border-bottom: 2px dotted #68ac02;
    margin-top:25px;
    border-bottom-color: #68ac02;
}
.root {
    width: 100%;
}
.sub {
    width: 95%;
}
.listing-line-odd {
        background-color: #a5d6fd;
}
.listing-line-even {	
        background-color: #fff;
}
.current-user-comment {
        background-color: #d6f6a6;       
}

.apply_border {
        border-bottom: 1px dotted #32a3fe;     
}
.apply_comment_owner_border {
        border-bottom: 1px dotted #68ac02;
}
.subject {
    font-size: 120%;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left:5px;
    padding-top:5px;
}
.in_place_editor_field, .inplacericheditor-form {
    clear:left;
    float:left;
    padding-left:5px;
    padding-top:5px;
}
.description {
    clear:left;
    float:left;
    padding-left:5px;
    padding-top:5px;
    margin-top: 10px;
}
.url {
    font-size:70%;
    clear:both;
    padding-left:12px;
    padding-top:5px;
}
#you {
    background-color:yellow;
    color:#000000;    
}

div#participants ul li {
    padding:3px;
    margin-left:-25px;
}
div#twitter_followers ul li {
    list-style:none;
    margin-left:-30px;
}
#post-body a {
    font-size: 14px;
}

.post-item {
    padding: 5px;
    font-size: 18px;
}
.post-item a {
    color: #0B84E8;
}
.timestamp {
    float: right;
    font-size: 14px;
}

#dashboard-view{
    width: 1230px;
    margin:0 auto;
}
.post-item a.dashboard-comments {
    color: green;
}