<h1>Resend Activation</h1>

Not a problem! <br/>
Give us your email address and we will email you instructions to reactivate your account1.<br />
<br />

<% form_tag resendactivation_users_path do %>

  <%= text_field_tag "email", '', :size => 30  %><br />
  <br />
  <%= submit_tag "Resend my activation code" %>
  <% end %>