<%= link_to 'Edit Settings', edit_user_path(@user) %>

<p>
<b>Photo: </b><%= image_tag @user.avatar.url(:thumb) %>
</p>
<p>
  <b>Twitter ID:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>


