<script type="text/javascript">
  function openWindow(url) {
    var w = 480, h = 340;

      if (document.all) {
         /* the following is only available after onLoad */
         w = document.body.clientWidth;
         h = document.body.clientHeight;
      }
      else if (document.layers) {
         w = window.innerWidth;
         h = window.innerHeight;
      }
      var popW = 800, popH = 450;
      var leftPos = (w)/2, topPos = (h)/2;
      window.open(url, 'Authorize','width=' + popW + ',height='+popH+',top='+topPos+ ',left='+leftPos);

      return false;
    }


</script>

<div style="background-color:#BBDEFA;padding: 10px;">
             <p  style="font-size: 12px;">
                Not sure who might be interested in this conversation? No Problem.<br/><br/>
                You can now post an open invitation to all your Facebook friends.<br/><br/>

                Click on the button below to be redirected to Facebook where you can grant EngageVia access<br/>
                to your account and post an open invitation to your Profile. <br/><br/>
                This privilege will be used only for this purpose. <br/>
              </p>

            <%=  button_to_function "Grant Access and Post to Facebook", "openWindow(\'#{@authorization_url}\')"  %>

  </div>
