<div id="sticky-note">
  <h3 style="border-bottom:1px solid #fff;text-align:center;">Sticky Note </h3>
  <% if @post.owner == @user  %>
  <%= in_place_rich_editor_field :post, :note, {}, :mode => 'tinymce_advanced_stripped_options' %>
  <% else %>
   <%= @post.note %>
   <% end %>
</div>
