<div style="margin: 0 ;">
<span style="float: right;">
 <%= button_to "Start a Conversation" , new_post_url %>
  No membership required for checking out. It's FREE.
</span>
<div id="home-content">
<div class="bg">
<div class="features">
<div class="feature learn-feature">

<h2>
The Need & Desire
</h2>
<p>
Have you ever felt the need to discuss, get feedback, advice and recommendations, brainstorm & collaborate with friends
whom you may know and trust (i.e.those in your address book)
and also possibly with friends of your friends that share the interest on that particular topic
who may understand your needs and circumstances better and hence provide input tailored to you?
</p>
    <h2>
    How can EngageVia help?
    </h2>
<p>
 EngageVia provides you one place and lots of tools (coming soon - chats, wikis, polls and more)
to request, gather and organize all of the input from your circle and your extended circle of friends.
</p>

   <h2>
     How to use EngageVia?
    </h2>
    <p>  
    When you have one of these needs,
    <ol>

      <% bk_link = "javascript:location.href=' #{DOMAIN}posts/new?url='+encodeURIComponent(location.href)+';title='+encodeURIComponent(document.title)" %>
      <li>Drag this <%= link_to  "EngageVia bookmarklet", bk_link, :title => "EngageVia bookmarklet"  %> to your browser's bookmarks.
      <li>Click on it whenever you want to engage or simply visit <a title="EngageVia Homepage" href="http://www.engagevia.com">EngageVia Home </a> </li>
      <li>Fill up the basic information about the topic of your choice. </li>
      <li>Invite only relevant friends from your address book. A link to the Post page is sent to them. </li>
       <li>Let your invitees invite relevant friends from their circle as well.</li>
      <li>All the invitees can converge at EngageVia to share their 2 cents.   </li>
    </ol>

    </p>
</div>

</div>
 
</div>
</div>
  </div>