<h1>Help</h1>

<h3>If you are a content publisher, copy the following javascript snippet to paste in your pages to facilitate private discussions</h3>

<div id="js_snippet">
  <% snippet = "<img src='http://www.engagevia.com/images/e2.png'>    <a href='http://www.engagevia.com/posts/new' onclick='window.open('http://www.engagevia.com/posts/new?noui&amp;jump=close&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title),'EngageVia','toolbar=no,width=800,height=600'); return false;'> Start a conversation on EngageVia</a>"        %>
  <%= text_area_tag 'snippet', snippet, :rows => 5, :cols => 120, :readonly => true %>
</div>

<p>For help, contact us at <a href="mailto:engagevia@gmail.com">engagevia@gmail.com</a>
