<h3>Listing posts</h3>
<% ActiveSupport::SecureRandom.hex(10) %>


<% @posts.each do |post| %>

    <%= link_to "#{post.subject}", post.url %>
    <%= link_to  "(#{GetCommentCount(post)} comments)", post %> <br/>
    <%h post.created_by %>
    <%h post.url %>
    <%h post.unique_id %>
    <%h post.privacy %>
    <%h post.note %>
    <% link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <% link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    <br/>
<% end %>


<br />

<%= link_to 'New post', new_post_path %>