<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Engaging, one conversation at a time</title>
</head>
  <body>
    <div style="font-family:Georgia;margin: 10%;">
        <div>
        EngageVia
        <hr/>
        </div>

        <%= yield %>

        <hr/>
        <%= link_to 'EngageVia', "http://www.engagevia.com" %> is an online tool for engaging with friends in your circle and <br/>
        your extended circle on topics of common interest. <br/><br/>
        </div>
  </body>
</html>
