
    <div style="font-family:Georgia;">
        <div>
        <%= image_tag "http://www.engagevia.com/evlogo.png", :size=>'251x53' %>
        <hr/>
        </div>

        <%= yield %>

        <hr/>
        <%= link_to 'EngageVia', "http://www.engagevia.com" %> - Engage in Conversations & Collaborate with your friends with no signup required <br/><br/>
     </div>
 