
    <div style="font-family:Georgia;">
        <div>
        <%= image_tag "http://www.engagevia.com/evlogo.png", :size=>'251x53' %>
        <hr/>
        <%= link_to 'EngageVia', "http://www.engagevia.com" %> - <i>Why just Share when you can </i> <span style="color:orange;">Engage in Conversations & Collaborate with your friends with no signup required</span><br/>
        </div>

        <%= yield %>

        <hr/>
        
     </div>
 